.background {
  position: fixed;
  top: 0;
  left: 0;
  width: clamp(100svw, 100dvw, 100lvw);
  height: clamp(100svh, 100dvh, 100lvh);
  max-width: clamp(100svw, 100dvw, 100lvw);
  max-height: clamp(100svh, 100dvh, 100lvh);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  transition: background-image 0.3s ease-in-out;
  overflow: hidden;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width-full);
  height: var(--height-full);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
