.scoreboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Subway Berlin", sans-serif;
  white-space: nowrap;
}

.scoreboard__names {
  margin-right: 40px;
  margin-left: 4px;
  font-size: clamp(28px, 10vh, 56px);
}

.scoreboard__avatar {
  display: flex;
  align-items: center;
}

.scoreboard-right__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
.scoreboard__score-numeric {
  font-size: clamp(28px, 10vh, 56px);
}

.scoreboard-info__image {
  cursor: pointer;
  width: clamp(24px, 4vw, 60px);
  height: clamp(24px, 4vw, 60px);
  background: transparent;
  border: transparent;
  border-radius: 100%;
  &:hover {
    outline: white 2px;
    outline-offset: 2px;
  }
}

.scoreboard__home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  gap: 12px;
  background: transparent;
  border: transparent;
  border-radius: 12px;
  cursor: pointer;
}
.scoreboard__home-image {
  width: clamp(24px, 4vw, 60px);
  height: clamp(24px, 4vw, 60px);
  flex-shrink: 0;
}
.scoreboard__home-button-small {
  display: block;
  color: white;
  font-family: "Subway Berlin", sans-serif;
  font-size: clamp(12px, 2 0.5rem, 60px);
  margin: 0;
  line-height: 1.2;

  @media (max-height: 600px) {
    display: none;
  }
}

.scoreboard-audio__button {
  background: transparent;
  border: transparent;
  border-radius: 100%;
  cursor: pointer;
  width: clamp(24px, 4vw, 60px);
  height: clamp(24px, 4vw, 60px);
  margin-left: 20px;
}

/* Tablet landscape */
@media (orientation: landscape) and (min-height: 600px) and (max-height: 1100px) and (max-width: 1366px) {
  .scoreboard {
    margin-top: 20px;
  }
}

/* Mobile landscape - reduce stroke and spacing */
@media (orientation: landscape) and (max-height: 500px) {
  .scoreboard__home-button {
    margin-left: 16px;
  }

  .scoreboard__home-button-small {
    -webkit-text-stroke: 8px black;
  }

  .scoreboard-timer h1 {
    -webkit-text-stroke: 8px black;
  }

  .scoreboard-info__image {
    margin-left: 10px;
  }

  .scoreboard-audio__button {
    margin-left: 4px !important;
  }

  .scoreboard-right__container {
    margin-right: 16px;
  }
}
