.info-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.info-modal {
  position: fixed;
  top: 80px;
  right: 130px;
  width: 40%;
  height: 100%;
  z-index: 102;

  @media (max-width: 1200px) {
    width: 50%;
  }
  @media (max-width: 1024px) {
    width: 60%;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 120px;
  }
  @media (max-width: 768px) {
    width: 80%;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 120px;
  }
  @media (max-width: 480px) {
    width: 100%;
    right: 0;
    top: 70px;
  }
  @media (orientation: landscape) and (max-width: 1024px) {
    top: 35px;
    width: calc(60% + 60px);
  }
}

.info-modal__content {
  position: relative;
  padding: 8px 20px 20px 20px;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-size: 22px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  text-align: left;

  li {
    margin-bottom: 6px;
  }

  @media (max-width: 1200px) {
    font-size: 20px;
    padding: 16px;
  }
  @media (max-width: 1024px) {
    font-size: 18px;
    padding: 14px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
    padding: 10px;
  }
  @media (max-width: 480px) {
    font-size: 14px;
    padding: 8px;
  }
  @media (orientation: landscape) {
    font-size: 16px;
  }
}

.info-modal__close {
  position: absolute;
  top: 14px;
  right: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
}

.info-modal__close img {
  width: 100%;
  height: 100%;
}

.info-modal__title {
  text-align: center;
  font-size: 40px;
  font-family: "Alfa Slab One", serif;
  margin-bottom: 4px;

  @media (max-width: 1200px) {
    font-size: 32px;
    -webkit-text-stroke: black 0.8px;
  }
  @media (max-width: 1024px) {
    font-size: 28px;
    -webkit-text-stroke: black 0.7px;
  }
  @media (max-width: 768px) {
    font-size: 26px;
    -webkit-text-stroke: black 0.6px;
  }
  @media (max-width: 480px) {
    font-size: 22px;
    -webkit-text-stroke: black 0.5px;
  }
}
