.info-modal {
  position: fixed;
  top: 80px;
  right: 10px;
  width: 40%;
  height: 100%;

  @media (max-width: 1200px) {
    width: 50%;
  }
  @media (max-width: 1024px) {
    width: 60%;
  }
  @media (max-width: 768px) {
    width: 80%;
  }
  @media (max-width: 480px) {
    width: 100%;
    right: 0;
    top: 70px;
  }
}

.info-modal__content {
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-size: 22px;
  font-family: "plus-jakarta-sans", sans-serif;
  font-weight: 300;

  li {
    margin-bottom: 6px;
  }

  @media (max-width: 1200px) {
    font-size: 20px;
    padding: 16px;
  }
  @media (max-width: 1024px) {
    font-size: 18px;
    padding: 14px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
    padding: 10px;
  }
  @media (max-width: 480px) {
    font-size: 14px;
    padding: 8px;
  }
}

.info-modal__title {
  text-align: center;
  font-size: 40px;
  font-family: "Alfa Slab", sans-serif;
  margin-bottom: 4px;

  @media (max-width: 1200px) {
    font-size: 32px;
    -webkit-text-stroke: black 0.8px;
  }
  @media (max-width: 1024px) {
    font-size: 28px;
    -webkit-text-stroke: black 0.7px;
  }
  @media (max-width: 768px) {
    font-size: 26px;
    -webkit-text-stroke: black 0.6px;
  }
  @media (max-width: 480px) {
    font-size: 22px;
    -webkit-text-stroke: black 0.5px;
  }
}
