.response-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "subway-berlin-ot", sans-serif;
  -webkit-text-stroke: black 1px;
}
.response-modal__title {
  font-size: 172px;
  font-weight: 900;
  margin-bottom: 0;
  padding-bottom: 0;
}
.response-modal__subtitle {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 120px;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 1200px) {
  .response-modal__title {
    font-size: 140px;
  }
  .response-modal__subtitle {
    font-size: 70px;
    margin-bottom: 100px;
    margin-top: 15px;
  }
}

@media (max-width: 1024px) {
  .response-modal__title {
    font-size: 120px;
  }
  .response-modal__subtitle {
    font-size: 60px;
    margin-bottom: 80px;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .response-modal__title {
    font-size: 100px;
  }
  .response-modal__subtitle {
    font-size: 44px;
    margin-bottom: 60px;
    margin-top: 8px;
  }
}

@media (max-width: 480px) {
  .response-modal__title {
    font-size: 80px;
  }
  .response-modal__subtitle {
    font-size: 32px;
    margin-bottom: 40px;
    margin-top: 5px;
    padding-inline: 12px;
  }
}
