.avatar-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width-full);
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 var(--spacing-md) rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 1);
  overflow: hidden;
  margin-block: 0;
  max-width: clamp(60px, 12vw, 150px);
  transition: transform 0.3s ease;
  stroke: 2px transparent;

  @media (max-width: 1024px) {
    max-width: clamp(50px, 11vw, 100px);
  }

  @media (max-width: 768px) {
    max-width: clamp(40px, 15vw, 80px);
  }

  @media (max-width: 480px) {
    max-width: clamp(30px, 16vw, 60px);
  }

  @media (max-height: 600px) {
    max-width: clamp(24px, 5vh, 60px);
  }
}

.avatar-image-container:hover,
.avatar-image-container:focus,
.avatar-image-container:active,
.avatar-image-container:focus-visible {
  cursor: pointer;
  transform: scale(1.1);
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-image-container__mini {
  width: var(--size-avatar-mini);
  height: var(--size-avatar-mini);
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
}

.avatar-image-container__chosen-avatar {
  width: var(--size-avatar-md);
  height: var(--size-avatar-md);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 var(--spacing-md) rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  aspect-ratio: 1;
}

.avatar-image-container--selected {
  animation: avatar-pulse 1s infinite;
}

@keyframes avatar-pulse {
  0%,
  100% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.3);
  }
}
