.played-card {
  margin: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .played-card__content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .played-card__image {
    width: auto;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }

  .played-card__title {
    font-size: 1.3rem;
    white-space: nowrap;
    font-weight: 900;
    color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 50%;
    margin-bottom: 2px;
  }

  .played-card__description {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    color: black;
    padding-inline: 12px;
    padding-top: 0;
    margin-top: 0;
  }
}

.played-card__undo-icon {
  position: absolute;
  top: auto;
  right: 10px;
  bottom: 10px;
  left: auto;
  width: 50px;
  height: 50px;
  z-index: 1001;
  background: transparent;
  border: transparent;
  border-radius: 12px;
  cursor: pointer;
}

@media (max-height: 600px) {
  .played-card {
    margin: 2px;
    width: 100%;
    height: 100%;
    max-width: calc((100vw - 40px) / 6);
    max-height: 100%;

    .played-card__content {
      width: 100%;
      height: 100%;
    }

    .played-card__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .played-card__title {
      display: none;
    }

    .played-card__description {
      display: none;
    }
  }

  .played-card__undo-icon {
    width: 30px;
    height: 30px;
  }
}
