.next-button {
  background: none;
  border: none;
  border-radius: 12px;
  /* padding: var(--spacing-sm) var(--spacing-md);
  margin-top: var(--spacing-md); */
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  transition: all 0.3s ease;

  @media (max-width: 768px) {
    margin-top: var(--spacing-sm);
    padding: var(--spacing-xs) var(--spacing-sm);
  }

  @media (max-width: 480px) {
    margin-top: var(--spacing-xs);
    padding: clamp(2px, 0.5vw, 4px) var(--spacing-xs);
  }

  @media (max-height: 600px) {
    margin-top: var(--spacing-xxl);
    padding: clamp(2px, 0.3vh, 4px) var(--spacing-xs);
  }
}

.next-button-text {
  font-family: "Subway Berlin", sans-serif;
  font-size: clamp(29px, 6vw, 58px);
  margin-block: 0;
  z-index: 2;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 15px black;
  paint-order: stroke fill;

  @media (max-height: 600px) {
    font-size: clamp(17px, 4.3vw, 35px);
  }
}

.next-button:hover,
.next-button:active {
  transform: scale(1.05);
}

.next-button:focus-visible {
  transform: scale(1.05);
  outline: 2px solid #fff;
  outline-offset: var(--spacing-xs);
}

.next-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.next-button:disabled:hover,
.next-button:disabled:active,
.next-button:disabled:focus,
.next-button:disabled:focus-visible {
  transform: none;
  outline: none;
}

.next-button-image {
  width: 58px;
  height: 58px;

  @media (max-height: 600px) {
    width: 35px;
    height: 35px;
  }
}
