.players-area {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  height: 100%;
  width: 100%;
  overflow: auto;

  @media (max-width: 1200px) {
    padding-top: 1rem;
    align-items: center;
  }

  @media (max-width: 1028px) {
    padding-top: 1rem;
  }

  @media (max-width: 768px) {
    padding-top: 1rem;
  }

  @media (max-width: 480px) {
    padding-top: 1rem;
  }

  @media (max-height: 600px) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.players-hand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 16px;
  gap: 16px;
  width: 100%;
  flex-wrap: nowrap;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 12px;
  }

  @media (max-width: 480px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 8px;
  }
  @media (max-height: 600px) {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding-inline: 4px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    align-content: flex-start;
  }
}
