.name-selection {
  display: grid;
  place-items: center;
  position: relative;
  min-height: var(--min-height-screen);
  justify-content: center;
  align-content: center;
  padding: var(--spacing-lg);


  @media (max-width: 1024px) {
    margin-top: var(--spacing-2xl);
  }

  @media (max-width: 768px) {
    margin-top: var(--spacing-md);
    padding: var(--spacing-md);
  }

  @media (max-width: 480px) {
    margin-top: var(--spacing-sm);
    padding: clamp(12px, 0.5vh, 32px);
  }
  
  @media (max-height: 600px) {
    margin-top: var(--spacing-md);
    padding: clamp(12px, 0.5vh, 32px);
  }
  .name-selection__content {
    display: grid;
    place-items: center;
  }
  .name-selection__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-2xl);
    
    @media (max-width: 1024px) {
      margin-bottom: var(--spacing-md);
    }
    
    @media (max-width: 768px) {
      margin-bottom: var(--spacing-xs);
    }
    
    @media (max-width: 480px) {
      margin-bottom: clamp(2px, 0.5vh, 4px);
    }
    
    @media (max-height: 600px) {
      margin-bottom: clamp(16px, 0.3vh, 32px);
    }
  }
}

.name-selection__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-3xl);
  
  @media (max-width: 1024px) {
    margin-bottom: var(--spacing-md);
  }
  
  @media (max-width: 768px) {
    margin-bottom: var(--spacing-xs);
  }
  
  @media (max-width: 480px) {
    margin-bottom: clamp(2px, 0.5vh, 4px);
  }
  
  @media (max-height: 600px) {
    margin-bottom: clamp(16px, 0.3vh, 32px);
  }
}
