@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.round-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.round-modal__content {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-family: "Subway Berlin", sans-serif;
  animation: pop-in 0.5s ease-out forwards;
}

.round-modal__button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.round-modal__title {
  font-size: clamp(72px, 15vw, 180px);
  -webkit-text-stroke: 25px black;
  paint-order: stroke fill;
  color: white;

  @media (max-width: 1024px) {
    -webkit-text-stroke: 15px black;
  }

  @media (max-width: 768px) {
    -webkit-text-stroke: 10px black;
  }

  @media (max-width: 480px) {
    -webkit-text-stroke: 8px black;
  }
}
