.main-table {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  max-height: 100%;
  gap: clamp(8px, 1vw, 12px);
  width: 100%;
  padding-inline: clamp(8px, 2vw, 16px);
  overflow: auto;

  .main-table__influencer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-table__tactics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: clamp(8px, 2vw, 16px);
    gap: 4px;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.4);
    outline: 3px dashed rgba(255, 255, 255, 0.2);
    outline-offset: -20px;
    position: relative;
    min-height: clamp(200px, 30vh, 300px);
    max-height: 100%;
    border: solid 3px black;
    place-items: center;
    place-content: center;
  }

  .main-table__background {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-table__finish-round {
    position: absolute;
    left: 50%;
    text-align: center;
    bottom: 10px;
    transform: translateX(-50%);
    height: auto;
    background: transparent;
    border: none;
    padding: 8px 12px;
  }

  .main-table__finish-round:hover {
    scale: 1.5;
    cursor: pointer;
  }

  @media (max-height: 600px) {
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    padding-inline: 4px;
    align-items: center;

    .main-table__influencer {
      max-height: 100%;
      max-width: 100%;
    }

    .main-table__tactics {
      min-height: 250px;
      max-height: 60%;
      padding-inline: 4px;
      gap: 2px;
    }

    .main-table__finish-round {
      width: 50px;
      bottom: 3px;
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    gap: 8px;
    padding-inline: 8px;

    .main-table__tactics {
      padding-inline: 8px;
      gap: 2px;
    }

    .main-table__finish-round {
      width: 60px;
      bottom: 5px;
    }
  }
}

.main-table__place-cards {
  font-family: "Subway Berlin", sans-serif;
  font-size: clamp(12px, 1.5rem, 28px);
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
