.main-table {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  gap: 12px;
  width: 100%;
  padding-inline: 16px;

  .main-table__influencer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-table__tactics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 16px;
    gap: 4px;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.4);
    outline: 3px dashed rgba(255, 255, 255, 0.2);
    outline-offset: -20px;
    position: relative;
    min-height: 400px;
    border: solid 3px black;
    place-items: center;
    place-content: center;
  }

  .main-table__background {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-table__finish-round {
    position: absolute;
    left: 50%;
    text-align: center;
    bottom: 10px;
    transform: translateX(-50%);
    height: auto;
    background: transparent;
    border: none;
    padding: 8px 12px;
  }

  .main-table__finish-round:hover {
    scale: 1.5;
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    padding-inline: 12px;

    .main-table__finish-round {
      right: 253px;
      width: 90px;
    }
  }
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding-inline: 14px;

    .main-table__finish-round {
      right: 170px;
      width: 90px;
    }
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    padding-inline: 8px;

    .main-table__tactics {
      padding-inline: 8px;
      padding-bottom: 20px;
      width: 90%;
    }

    .main-table__finish-round {
      right: 55px;
      bottom: 20px;
      width: 60px;
    }
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    padding-inline: 8px;

    .main-table__tactics {
      padding-inline: 8px;
      padding-bottom: 20px;
      width: 90%;
      min-height: 260px;
    }

    .main-table__finish-round {
      right: 55px;
      bottom: 20px;
      width: 60px;
    }
  }
}

.main-table__place-cards {
  font-family: "Subway Berlin", sans-serif;
  font-size: clamp(12px, 1.5rem, 28px);
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
