.score-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--width-full);
  height: var(--height-full);
}
.score-modal__header {
  font-family: "Subway Berlin", sans-serif;
  font-size: clamp(52px, 4vw, 96px);
  -webkit-text-stroke: black 1px;
}
.score-modal__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(24px, 4vw, 52px);
  font-weight: bold;
  font-family: "Subway Berlin", sans-serif;
  -webkit-text-stroke: black 1px;
  width: var(--max-height-lg);
  margin-bottom: 0;
}
.score-modal__scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--width-full);
  height: var(--height-full);
  gap: var(--gap-grid-sm);
}
.score-modal__players {
  font-family: "Subway Berlin", sans-serif;
  font-size: clamp(20px, 2vw, 48px);
  -webkit-text-stroke: black 1px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  width: var(--max-height-lg);
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
}
.score-modal__player-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xl);
}
