.score-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.score-modal__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 36px;
  font-weight: bold;
  font-family: "Subway Berlin", sans-serif;
  -webkit-text-stroke: black 1px;
  width: 600px;
  margin-bottom: 0;
}
.score-modal__scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 8px;
}
.score-modal__players {
  font-family: "Subway Berlin", sans-serif;
  font-size: 48px;
  -webkit-text-stroke: black 1px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  width: 600px;
  padding: 16px;
  border-radius: 20px;
}
.score-modal__player-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
