.tool-swiper {
  position: absolute;
  top: 7px;
  left: 0;
  width: 30px;
  height: 500px;
  animation: slide-in 4.5s ease-out forwards;
  z-index: 3;
}

.tool__container {
  position: relative;

  @media (max-width: 1028px) {
    margin-top: -5px;
    margin-left: 80px;
  }
  @media (max-width: 480px) {
    margin-top: -18px;
    margin-left: -180px;
    max-width: 80%;
    max-height: 210px;
  }
  .influencer-card {
    @media (max-width: 768px) {
      min-width: 300px;
    }
  }

  .influencer-card__content {
    @media (max-width: 768px) {
      margin-top: -18px;
      margin-left: -180px;
      max-width: 80%;
      max-height: 210px;
    }
    @media (max-width: 480px) {
      margin-top: -18px;
      margin-left: -180px;
      max-width: 80%;
      max-height: 210px;
    }
  }
  .influencer-card__images {
    @media (max-width: 768px) {
      height: 210px;
      max-width: 90%;
    }
    @media (max-width: 480px) {
      margin-top: -18px;
      margin-left: -180px;
      max-width: 80%;
      max-height: 210px;
    }
  }
}

.sliding-background {
  position: relative;
  overflow: hidden;
}

.sliding-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 190px;
  width: 450px;
  height: 100%;
  background: rgba(255, 0, 0, 0.5); /* Red background with transparency */
  animation: slideBackground 4.5s ease-out forwards;
  z-index: 4;
}

.sliding-background > * {
  position: relative;
  z-index: 3;

  @media (max-width: 1028px) {
    margin-top: -5px;
    margin-left: 10px;
  }
}
.tool-image {
  width: 755px;
  height: auto;

  @media (max-width: 1200px) {
  }
  @media (max-width: 1028px) {
    width: 660px;
    height: auto;
  }
  @media (max-width: 768px) {
    width: 450px;
    height: auto;
  }
}

@keyframes slide-in-after {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(450px);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(450px);
  }
}

@media (max-width: 1200px) {
  .tool-swiper {
    width: 25px;
    height: 400px;
  }

  .sliding-background::before {
    left: 150px;
    width: 400px;
  }

  @keyframes slide-in {
    to {
      transform: translateX(400px);
    }
  }

  @keyframes slide-in-after {
    to {
      transform: translateX(400px);
    }
  }
}

@media (max-width: 1028px) {
  .tool-swiper {
    width: 20px;
    height: 350px;
  }

  .sliding-background::before {
    left: 120px;
    width: 350px;
  }

  @keyframes slide-in {
    to {
      transform: translateX(350px);
    }
  }

  @keyframes slide-in-after {
    to {
      transform: translateX(350px);
    }
  }
}

@media (max-width: 768px) {
  .tool-swiper {
    width: 15px;
    height: 300px;
  }

  .sliding-background::before {
    left: 100px;
    width: 300px;
  }

  @keyframes slide-in {
    to {
      transform: translateX(300px);
    }
  }

  @keyframes slide-in-after {
    to {
      transform: translateX(300px);
    }
  }
}

@media (max-width: 480px) {
  .tool-swiper {
    width: 10px;
    height: 250px;
  }

  .sliding-background::before {
    left: 80px;
    width: 250px;
  }

  @keyframes slide-in {
    to {
      transform: translateX(250px);
    }
  }

  @keyframes slide-in-after {
    to {
      transform: translateX(250px);
    }
  }
}
