.tactic-card-item {
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 12px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  width: calc((100vw - 196px) / 11);
  aspect-ratio: 921 / 1422;
  z-index: 1;
}

.tactic-card-item:hover,
.tactic-card-item:focus,
.tactic-card-item:focus-visible,
.tactic-card-item:active {
  outline: 2px solid white;
  outline-offset: 2px;
  z-index: 10;
}

@media (max-height: 600px) {
  .tactic-card-item {
    width: calc((100vw - 32px) / 6);
    aspect-ratio: 921 / 1422;
    max-height: 35vh;
  }
}
