.tactic-card-back {
  width: 100%;
  height: 100%;
  background-color:antiquewhite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.tactic-card-back-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding-block: 0;
  padding-inline: 6px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.tactic-card-back-description,
.tactic-card-back-example {
  font-family: "DIN Alternate", sans-serif;
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-tight);
  color: black;
  margin: 0;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-wrap: balance;
}

