.tactic-card-back {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.tactic-card-image-back {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border-radius: 12px;
}

.tactic-card-back-description {
  font-family: "DIN Alternate", sans-serif;
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-tight);
  color: black;
  margin: 0;
  padding: 8px;
  text-align: center;
  text-wrap: balance;
  z-index: 1;
  position: relative;
  border-radius: 6px;
  max-width: 90%;
  text-wrap: balance;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.truth {
  color: white !important;
}
