.input {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: var(--radius-md);
  color: white;
  padding: 4px var(--spacing-xl);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 64px;
  font-family: "Subway Berlin", sans-serif;
  margin-bottom: var(--spacing-2xl);
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: black 3px;
  paint-order: stroke fill;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    margin-bottom: var(--spacing-md);
  }

  @media (max-width: 768px) {
    margin-bottom: var(--spacing-xs);
  }

  @media (max-width: 480px) {
    margin-bottom: clamp(2px, 0.5vh, 4px);
  }

  @media (max-height: 600px) {
    margin-bottom: clamp(2px, 0.3vh, 4px);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1 !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
  }

  &:focus {
    outline: 2px solid #fff;
    outline-offset: var(--spacing-xs);
  }

  @media (max-width: 1024px) {
    font-size: 56px;
    padding: var(--spacing-sm) var(--spacing-3xl);
    &::placeholder {
      color: rgba(255, 255, 255, 1) !important;
      opacity: 1 !important;
      -webkit-text-fill-color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: black 2px;
      paint-order: stroke fill;
    }
  }

  @media (max-width: 768px) {
    font-size: 42px;
    padding: var(--spacing-xl) var(--spacing-2xl);
    -webkit-text-stroke: 2px black;
    &::placeholder {
      color: rgba(255, 255, 255, 1) !important;
      opacity: 1 !important;
      -webkit-text-fill-color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: black 2px;
      paint-order: stroke fill;
    }

    @media (max-width: 480px) {
      font-size: 32px;
      padding: var(--spacing-lg) var(--spacing-xl);
      -webkit-text-stroke: 1px black;
      color: white;
      -webkit-text-fill-color: white;
      paint-order: stroke fill;

      &::placeholder {
        color: rgba(255, 255, 255, 1) !important;
        opacity: 1 !important;
        -webkit-text-fill-color: rgba(255, 255, 255, 1);
        -webkit-text-stroke: black 1px;
        paint-order: stroke fill;
      }
    }

    @media (max-height: 600px) {
      font-size: 32px;
      padding: var(--spacing-xs) var(--spacing-lg);
      color: white;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: white;
      paint-order: stroke fill;

      &::placeholder {
        color: rgba(255, 255, 255, 1) !important;
        opacity: 1 !important;
        -webkit-text-fill-color: rgba(255, 255, 255, 1);
        -webkit-text-stroke: black 1px;
        paint-order: stroke fill;
      }
    }
  }
}
